<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guguin.commypage.mapper.ComMyPageMapper">

    <select id="getApplied_resumeList">
        SELECT SENDNUM
            ,RESTITLE
            ,USERID
            ,USERNAME
            ,PICTURE
            ,EDU_CODE
            ,EDU_CONTENT
            ,LICENSE
            ,CAREER_CODE
            ,CAREER_CONTENT
            ,SKILL
            ,SIDO_CODE
            ,GUGUN_CODE
            ,PASS_CODE
            ,BACKGROUND
            ,MOTIVATION
            ,PERSONALITY
            ,REG_DATE
            ,COMID
            ,RECNUM
        FROM APPLIED_RESUME
        WHERE COMID=#{comid}
    </select>
    <select id="getApplied_Resume">
        SELECT SENDNUM
            ,RESTITLE
            ,USERID
            ,USERNAME
            ,PICTURE
            ,EDU_CODE
            ,EDU_CONTENT
            ,LICENSE
            ,CAREER_CODE
            ,CAREER_CONTENT
            ,SKILL
            ,SIDO_CODE
            ,GUGUN_CODE
            ,PASS_CODE
            ,BACKGROUND
            ,MOTIVATION
            ,PERSONALITY
            ,REG_DATE
            ,COMID
            ,RECNUM
        FROM APPLIED_RESUME
        WHERE SENDNUM=#{sendnum}
    </select>
    <select id="getUser">
        SELECT PM.USERNAME USERNAME
            ,BIRTH
            ,UPHONE
            ,UADDR
            ,EMAIL
        FROM PERSONAL_MEMBERS PM LEFT JOIN APPLIED_RESUME AR
        ON PM.USERID = AR.USERID
        WHERE AR.USERID = #{userid}
    </select>

    <update id="updateResume">
        UPDATE APPLIED_RESUME
        SET PASS_CODE=#{pass_code}
        WHERE SENDNUM=#{sendnum}
    </update>

    <select id="getCom">
        SELECT COMID
            ,COMNUM
            ,COMNAME
            ,BOSS
            ,CPHONE
            ,CADDR
            ,STARRATING
            ,BOSSEMAIL
        FROM BUSINESS_MEMBERS
        WHERE COMID=#{comid}
    </select>
</mapper>