<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guguin.commypage.mapper.ComMyPageMapper">

    <select id="getApplied_resumeList">
        SELECT PR.RESNUM as RESNUM
             ,PR.RESTITLE as RESTITLE
             ,PR.USERID as USERID
             ,PR.USERNAME as USERNAME
             ,PR.UCONTENT as UCONTENT
             ,PR.REG_DATE as REG_DATE
             ,PR.PICTURE as PICTURE
             ,PR.EDU_CODE as EDU_CODE
             ,PR.EDU_CONTENT as EDU_CONTENT
             ,PR.LICENSE as LICENSE
             ,PR.CAREER_CODE as CAREER_CODE
             ,PR.CAREER_CONTENT as CAREER_CONTENT
             ,PR.SKILL as SKILL
             ,PR.SIDO_CODE as SIDO_CODE
             ,PR.GUGUN_CODE as GUGUN_CODE
        FROM PERSONAL_RESUME PR , APPLIED_RESUME AP , RECRUIT RC
        WHERE PR.RESNUM = AP.RESNUM
          AND   AP.RECNUM = RC.RECNUM
          AND RC.COMID=#{comid}
    </select>
    <select id="getApplied_Resume">
        SELECT RESNUM
           ,RESTITLE
           ,USERID
           ,USERNAME
           ,UCONTENT
           ,REG_DATE
           ,PICTURE
           ,EDU_CODE
           ,EDU_CONTENT
           ,LICENSE
           ,CAREER_CODE
           ,CAREER_CONTENT
           ,SKILL
           ,SIDO_CODE
           ,GUGUN_CODE
        FROM PERSONAL_RESUME
        WHERE RESNUM=#{resnum}
    </select>
    <select id="getUser">
        SELECT PM.USERNAME USERNAME
            ,BIRTH
            ,UPHONE
            ,UADDR
            ,EMAIL
        FROM PERSONAL_MEMBERS PM LEFT JOIN PERSONAL_RESUME PR
        ON PM.USERID = PR.USERID
        WHERE PR.RESNUM = #{resnum}
    </select>
</mapper>