<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guguin.gusik.mapper.GusikMapper">

    <select id = "getResumeList">
        SELECT RESNUM
               ,RESTITLE
            ,USERID
            ,USERNAME
            ,UCONTENT
            ,REG_DATE
            ,PICTURE
            ,EDU_CODE
            ,EDU_CONTENT
            ,LICENSE
            ,CAREER_CODE
            ,CAREER_CONTENT
            ,SKILL
            ,SIDO_CODE
            ,GUGUN_CODE
        FROM PERSONAL_RESUME
    </select>
    <select id ="getResume">
        SELECT RESNUM
             ,RESTITLE
             ,USERID
             ,USERNAME
             ,UCONTENT
             ,REG_DATE
             ,PICTURE
             ,EDU_CODE
             ,EDU_CONTENT
             ,LICENSE
             ,CAREER_CODE
             ,CAREER_CONTENT
             ,SKILL
             ,SIDO_CODE
             ,GUGUN_CODE
        FROM PERSONAL_RESUME
        WHERE RESNUM=#{resnum}
    </select>
</mapper>