<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guguin.gusik.mapper.GusikMapper">

    <select id = "getResumeList">
        SELECT RESNUM, RESTITLE, TO_CHAR(REG_DATE, 'YYYY-MM-DD') REG_DATE
        FROM PERSONAL_RESUME
    </select>
    <select id ="getResume">
        SELECT * FROM PERSONAL_RESUME
        WHERE RESNUM = #{ resnum }
    </select>

    <select id="getUser">
        SELECT USERNAME,TO_CHAR(BIRTH,'YYYY-MM-DD') BIRTH,UPHONE,UADDR,EMAIL
        FROM PERSONAL_MEMBERS
        WHERE USERID=#{userid}
    </select>

    <select id="getUserByResnum">
        SELECT PM.USERID AS USERID,PM.USERNAME AS USERNAME,TO_CHAR(BIRTH,'YYYY-MM-DD') BIRTH,UPHONE,UADDR,EMAIL,PM.GENDER AS GENDER
        FROM PERSONAL_MEMBERS PM JOIN PERSONAL_RESUME PR
        ON PM.USERID = PR.USERID
        WHERE PR.RESNUM=#{resnum}
    </select>
</mapper>