<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guguin.gusik.mapper.GusikMapper">

    <select id = "getResumeList">
        SELECT RESNUM
               ,RESTITLE
            ,USERID
            ,USERNAME
            ,UCONTENT
            ,REG_DATE
            ,PICTURE
            ,EDU_CODE
            ,EDU_CONTENT
            ,LICENSE
            ,CAREER_CODE
            ,CAREER_CONTENT
            ,GUGUN_CODE
            ,RESTITLE
            ,BACKGROUND
            ,PERSONALITY
            ,MOTIVATION
        FROM PERSONAL_RESUME
    </select>
    <select id ="getResume">
        SELECT RESNUM
        ,USERID
            ,USERNAME
            ,REG_DATE
            ,PICTURE
            ,EDU_CODE
            ,EDU_CONTENT
            ,LICENSE
            ,CAREER_CODE
            ,CAREER_CONTENT
            ,SIDO_CODE
            ,GUGUN_CODE
            ,RESTITLE
            ,BACKGROUND
            ,PERSONALITY
            ,MOTIVATION
        FROM PERSONAL_RESUME
        WHERE RESNUM=#{resnum}
    </select>

    <select id="getUser">
        SELECT USERNAME,TO_CHAR(BIRTH,'YYYY-MM-DD') BIRTH,UPHONE,UADDR,EMAIL
        FROM PERSONAL_MEMBERS
        WHERE USERID=#{userid}
    </select>
</mapper>