<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guguin.mapper.HomeMapper">

<select id="getRecList">
SELECT RECNUM, RECRUIT.COMID, COMNAME, RECTITLE
   FROM RECRUIT INNER
    JOIN BUSINESS_MEMBERS ON RECRUIT.COMID = BUSINESS_MEMBERS.COMID
</select>

<select id="getResList" resultType="com.guguin.vo.HomeVo">
  SELECT APPLIED_RESUME.SENDNUM, APPLIED_RESUME.RESTITLE
   FROM APPLIED_RESUME JOIN RECRUIT ON APPLIED_RESUME.RECNUM = RECRUIT.RECNUM
   WHERE RECRUIT.COMID = #{ comid }
</select>

<select id="getUserById">
  SELECT USERID, USERNAME
   FROM PERSONAL_MEMBERS
   WHERE USERID = #{ userid }
</select>

<select id="getComp">
  SELECT COMID, COMNAME
   FROM BUSINESS_MEMBERS
   WHERE COMID = #{	comid }
</select>

</mapper>