<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guguin.mapper.HomeMapper">

<select id = "getRecList">
  SELECT RECNUM, COMNAME, RECTITLE
   FROM RECRUIT INNER
    JOIN BUSINESS_MEMBERS ON RECRUIT.COMID = BUSINESS_MEMBERS.COMID
</select>
<select id="getUser">
  SELECT USERID, USERPW, USERNAME
   FROM PERSONAL_MEMBERS
   WHERE USERID = #{ userid }
</select>
<select id="getComp">
  SELECT COMID, COMPW, COMNAME, BOSS
   FROM BUSINESS_MEMBERS
   WHERE COMID = #{	comid }
</select>
  
</mapper>