<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guguin.post.mapper.PostMapper">

    <select id = "getPostList">
        SELECT BM.COMNAME AS COMNAME
             ,RECNUM
             ,REC.COMID  AS COMID
             ,RECTITLE
             ,SUBTITLE
             ,REC.BOSS  AS BOSS
             ,GCONTENT
             ,TO_CHAR(REG_DATE,'YYYY-MM-DD') AS REG_DATE
             ,TO_CHAR(DEADLINE,'YYYY-MM-DD') AS DEADLINE
             ,GUGUN_CODE
             ,REC.CAREER_CODE AS CAREER_CODE
             ,REC.EDU_CODE AS EDU_CODE
             ,BOOK_COUNT
             ,CA.CAREER_NAME AS CAREER_NAME
             ,EL.EDU_NAME AS EDU_NAME
        FROM RECRUIT REC LEFT JOIN BUSINESS_MEMBERS BM
        ON BM.COMID = REC.COMID JOIN CAREER CA
        ON REC.CAREER_CODE = CA.CAREER_CODE JOIN EDU_LIST EL
        ON REC.EDU_CODE = EL.EDU_CODE
        WHERE REC.COMID = #{comid}
    </select>
    <select id="getPost">
        SELECT BM.COMNAME AS COMNAME
             ,RECNUM
             ,REC.COMID  AS COMID
             ,RECTITLE
             ,SUBTITLE
             ,REC.BOSS  AS BOSS
             ,GCONTENT
             ,TO_CHAR(REG_DATE,'YYYY-MM-DD') AS REG_DATE
             ,TO_CHAR(DEADLINE,'YYYY-MM-DD') AS DEADLINE
             ,GUGUN_CODE
             ,REC.CAREER_CODE AS CAREER_CODE
             ,REC.EDU_CODE AS EDU_CODE
             ,BOOK_COUNT
             ,CA.CAREER_NAME AS CAREER_NAME
             ,EL.EDU_NAME AS EDU_NAME
        FROM RECRUIT REC LEFT JOIN BUSINESS_MEMBERS BM
        ON BM.COMID = REC.COMID JOIN CAREER CA
        ON REC.CAREER_CODE = CA.CAREER_CODE JOIN EDU_LIST EL
        ON REC.EDU_CODE = EL.EDU_CODE
        WHERE REC.RECNUM = #{recnum}
    </select>

    <select id="getCom">
    SELECT COMNUM
           ,CPHONE
           ,CADDR
           ,STARRATING
           ,BOSSEMAIL
           ,COMNAME
            ,BOSS
     FROM BUSINESS_MEMBERS
    WHERE COMID=#{comid}
    </select>


    <select id="getEduList">
        SELECT EDU_CODE,EDU_NAME
        FROM EDU_LIST
    </select>

    <select id="getCareerList">
        SELECT CAREER_CODE,CAREER_NAME
        FROM CAREER
    </select>
    <select id="getSkillCateList">
        SELECT SCATE_CODE,SCATE
        FROM SKILL_CATEGORY_LIST
    </select>
    <select id="getSkillList">
        SELECT SKILL_CODE,SKILL,SCATE_CODE
        FROM SKILL_LIST
    </select>

    <select id="getComSkillList">
        SELECT SL.SKILL AS SKILL,SL.SKILL_CODE SKILL_CODE
        FROM SKILL_LIST SL JOIN RECRUIT_SKILL RS
        ON SL.SKILL_CODE = RS.SKILL_CODE
        WHERE RECNUM=#{recnum}

    </select>

    <select id="getSidoList">
        SELECT SIDO_CODE,SIDO
        FROM SIDO_LIST
    </select>

    <select id="getGugunList">
        SELECT GUGUN_CODE,GUGUN,SIDO_CODE
        FROM GUGUN_LIST
    </select>

    <select id="getRegion">
        SELECT SL.SIDO AS SIDO,GL.GUGUN AS GUGUN
        FROM GUGUN_LIST GL JOIN SIDO_LIST SL
        ON GL.SIDO_CODE = SL.SIDO_CODE
        WHERE GL.GUGUN_CODE=#{gugun_code}
    </select>

    <update id="updatePost">
        UPDATE RECRUIT
        SET RECTITLE=#{rectitle}, SUBTITLE=#{subtitle}, GCONTENT=#{gcontent},GUGUN_CODE=#{gugun_code}
          ,DEADLINE=#{deadline},CAREER_CODE=#{career_code},EDU_CODE=#{edu_code},LICENSE=#{license}
        WHERE RECNUM=#{recnum}
    </update>

    <insert id="insertSkill">
        INSERT INTO RECRUIT_SKILL(RECNUM,SKILL_CODE)
        VALUES (#{param1},#{param2})
    </insert>

    <delete id="deletePost">
        DELETE RECRUIT WHERE RECNUM=#{recnum}
    </delete>

    <delete id="deleteSkill">
        DELETE RECRUIT_SKILL WHERE RECNUM=#{recnum}
    </delete>

</mapper>