<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guguin.resume.mapper.ResumeMapper">

<select id="getResumeList">
  SELECT RESNUM, RESTITLE, TO_CHAR(REG_DATE, 'YYYY-MM-DD') REG_DATE
    FROM PERSONAL_RESUME
    WHERE USERID = #{ userid }
</select>

<select id="getUser">
  SELECT USERNAME, BIRTH, UPHONE, UADDR, EMAIL
    FROM PERSONAL_MEMBERS
    WHERE USERID = #{ userid }
</select>

<select id="getResume">
  SELECT * FROM PERSONAL_RESUME
   WHERE RESNUM = #{ resnum }
</select>

<select id="getSkillList">
  SELECT RESNUM, SCATE_CODE, SCATE, SKILL_CODE, SKILL
    FROM SKILL_LIST
      JOIN RESUME_SKILL USING(SKILL_CODE)
      JOIN SKILL_CATEGORY_LIST USING(SCATE_CODE)
    WHERE RESNUM = #{ resnum }
</select>

<select id="getEdu">
  SELECT EDU_NAME
    FROM EDU_LIST
    WHERE EDU_CODE = #{ edu_code }
</select>

<select id="getCareer">
  SELECT CAREER_NAME
   FROM CAREER
   WHERE CAREER_CODE = #{ career }
</select>

<select id="getLicense">
 SELECT LICENSE FROM PERSONAL_RESUME
   WHERE RESNUM = #{ resnum }
</select>


</mapper>