
@charset "UTF-8";

*{
	padding : 0;
	margin : 0;
	box-sizing: border-box;
}
a{ text-decoration: none; }

/*head-------------------------*/
#banner{
	width: 20%;
    height: auto;
}
header{ text-align: center; }

#session-timer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30px 15px;
}
#loginTenstioin {
    background: none; /* 버튼 배경색 */
    color: black; /* 글자색 */
    border: 2px solid black; /* 테두리 제거 */
    border-radius: 5px; /* 모서리 둥글게 */
    padding: 10px 12px; /* 패딩 추가 */
    font-size: 16px; /* 글자 크기 */
    cursor: pointer; /* 커서 모양 변경 */
}
#loginTenstioin:hover{
	background-color: black;
	color: white;
	transition: background-color 0.3s, color 0.3s, transform 0.2s;
}
#menus {
	display: flex;
	justify-content: space-between;
	background-color: black;
	padding: 15px 30px;
}
#menus div {
	flex: 1;
	text-align: center;
;
}
#menus a {
    color: white;
    font-weight: 600;
    position: relative; /* 위치 속성 추가 */
}
#menus a::after {
    content: "";
    display: block;
    height: 2px;
    background: white;
    transition: width 0.3s ease, opacity 0.3s ease;
    width: 0;
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
}
#menus a:hover::after {
    width: 100%;
    opacity: 1;
}
#menus a:hover{
	text-decoration: none;
} 