<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guguin.mypage.mapper.MyPageMapper">

  <select id="getMyList" resultType="com.guguin.mypage.vo.MyPageVo">
    SELECT COMID, SENDNUM, RESTITLE, TO_CHAR(REG_DATE, 'YYYY-MM-DD') REG_DATE, PASS_CODE
    FROM APPLIED_RESUME
    WHERE USERID = #{userid}
  </select>

  <select id="getUser" resultType="com.guguin.mypage.vo.MyPageVo">
    SELECT USERNAME, BIRTH, UPHONE, UADDR, EMAIL, GENDER
    FROM PERSONAL_MEMBERS 
    WHERE USERID = #{userid}
  </select>


<select id="getResume">
  SELECT * FROM APPLIED_RESUME
   WHERE SENDNUM = #{ sendnum }
</select>

<select id="getSkillList">
  SELECT SENDNUM, SKILL_CODE,RESNUM, SKILL
    FROM APPLIED_RESUME JOIN RESUME_SKILL USING(RESNUM)
                        JOIN SKILL_LIST USING(SKILL_CODE)
    WHERE RESNUM = #{ resnum }
</select>

  <select id="getScList">
    SELECT BMID, SCRAP.RECNUM, RECRUIT.RECTITLE, BUSINESS_MEMBERS.COMNAME, SCRAP_DATE
	FROM SCRAP 
	JOIN RECRUIT ON SCRAP.RECNUM = RECRUIT.RECNUM
	JOIN BUSINESS_MEMBERS ON SCRAP.COMID = BUSINESS_MEMBERS.COMID
	JOIN PERSONAL_MEMBERS ON SCRAP.USERID = PERSONAL_MEMBERS.USERID
	WHERE SCRAP.USERID = #{ userid }
  </select>

<select id="getEdu">
  SELECT EDU_NAME
    FROM EDU_LIST
    WHERE EDU_CODE = #{ edu_code }
</select>

<select id="getCareer">
  SELECT CAREER_NAME
   FROM CAREER
   WHERE CAREER_CODE = #{ career }
</select>

<select id="getLicense">
   SELECT LICENSE FROM APPLIED_RESUME
   WHERE SENDNUM = #{ sendnum }
</select>


<delete id="deleteSc">
    DELETE  FROM SCRAP WHERE BMID = #{ bmid }
</delete>


<select id="getUserPage">
  SELECT USERID, USERPW, USERNAME, GENDER
       , TO_CHAR(BIRTH,'YYYY-MM-DD') BIRTH, UPHONE, UADDR, EMAIL
   FROM PERSONAL_MEMBERS
   WHERE USERID = #{ userid }
</select>

<update id="updateUser">
  UPDATE PERSONAL_MEMBERS
   SET BIRTH = #{birth}
     , UPHONE = #{uphone}
     , UADDR = #{uaddr}
     , EMAIL = #{email}
   WHERE USERID = #{userid}
</update>

<update id="updatePass">
  UPDATE PERSONAL_MEMBERS
   SET USERPW = #{ userpw }
   WHERE USERID = #{userid}
</update>

<select id="getComName">
  SELECT COMNAME
   FROM BUSINESS_MEMBERS
   WHERE COMID = #{ comid }
</select>

<insert id="insertStar">
  INSERT INTO STARPOINT(USERID, COMID, STAR_VAL)
    VALUES(#{userid}, #{comid}, #{star_val})
</insert>

<select id="getStarList">
  SELECT COMID
   FROM STARPOINT
   WHERE USERID = #{ userid }
</select>

<delete id="delUser">
  DELETE FROM PERSONAL_MEMBERS
   WHERE USERID = #{ userid }
</delete>

</mapper>